Greater clarity on setting desired elevation for accuracy

When looking at the accuracy screen there is a notion of "altitude".  I can't immediately tell if this is HAE or WGS84 Orthometric Height (i.e., EGM2008 height).

The suggested enhancement is to use a clearer term.

Thanks for pointing this out @gdt. Here's what the screen currently looks like:

![image](https://user-images.githubusercontent.com/928045/122974465-57e6d980-d360-11eb-9e72-1157dea47ad9.png)


My attempt to clarify this was the hint text (which appears if the box is empty) "Your altitude in WGS84 (Optional)".

Any suggestions for alternate text that's about the same length?

The basic problem is that "altitude in WGS84" is undefined, even to people who really understand all the issues.   My question is do you mean "WGS84 Height  Above Ellipsoid" (h) or do you mean "WGS84 Orthometric Height" (H, which is h - N), defined via EGM2008.  I argue that the word altitude always implies a distance above a level surface and thus an orthometric height, and that outside  of the Android spec, if people mean ellipsoidal height they say ellipsoidal height or HAE.  Or maybe if it's clear they are in a purely geometric system and there is confidence based on context that the readers understand, they just say height.  But they don't say altitude.   However, I am guessing you mean it to be what getAltitude() returns because the program is quite reasonably aligned with the (buggy, but that ship has sailed) Android API.

If you mean HAE, then I think you just have to say that, in order to avoid misleading people, but particularly people that understand geodesy but not the API.  If you mean ortho height, as I think is most appropriate for this screen, then having the top say "Your orthometric height" and the gray hint say "Above sea level (EGM2008)"  seems good as giving the right idea to people that don't understand the details and an accurate hint to those who do.

I understand that without NMEA, there is no ortho height available to GPSTest, and thus you might really intend HAE.   In that case, I think you should use the top label as saying "WGS84 Ellipsoidal Height".   The hint text can then say "meters above WGS84 ellipsoid".   And yes, normal people will not follow that.  But that's intrinsic to dealing with HAE i the first place: the general public is just not going to understand.

(I also realize that with chipsets having bad geoid models, if one inputs a correct EGM2008 ortho height, there will be a bias from the bad model that shows up as an error.  But this really is an error so it's good to show it that way.)

I note that 1) the SHOW_RADAR intent seems to be defined to be HAE as it's basically using the android API definitions and 2) the geo URI altitude is WGS84 Orthometric Height (RFC5780, section 2).

I have had issues with this as well, and had been puzzling over how to
express them as a new issue, then I stumbled over this while playing
catch-up, so will now play belated tag-along.

The edit popup only takes altitude in meters, no matter what distance unit
is set. Is this intended? I changed my default distance unit to meters
to reduce confusion (always a non-zero value, in my case).

Coming up with a value to enter was still a bit of a problem, until I
realized that by setting the altitude to zero instead of leaving it blank,
the "error" now becomes an "calculated altitude," and if I know the
actual/recorded altitude, I can simply compare them. The outcome is more
useful than the original intent, since for "error," the app returns the
absolute value, and for my usage, high or low is of interest. For
horizontal error, the error traceline tells me if there is a directional
bias. For vertical error, I didn't get a clue as to directional bias. If
other use cases would have interest in actual error, perhaps you could put
a box below the map with a graph like the elevation graph on some tracking
displays. Not a priority for me, but I would enjoy it.







Am Di., 22. Juni 2021 um 15:38 Uhr schrieb Greg Troxel <
***@***.***>:

> I note that 1) the SHOW_RADAR intent seems to be defined to be HAE as it's
> basically using the android API definitions and 2) the geo URI altitude is
> WGS84 Orthometric Height (RFC5780, section 2).
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/barbeau/gpstest/issues/529#issuecomment-866382995>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AMVRWBOTBG24UUHY3GMMYGTTUEGGLANCNFSM47CIDD5A>
> .
>


To address this issue, I'm changing the hint text to read "Meters above WGS84 ellipsoid (Optional)":

![image](https://user-images.githubusercontent.com/928045/134429932-57be38f7-dca5-4707-9d99-3da60a453066.png)

>2) the geo URI altitude is WGS84 Orthometric Height (RFC5870, section 2).

@gdt Thanks for pointing this out. I disabled support for altitude via the geo URI in GPSTest until I can figure out how to support Orthometric Height in the app. See https://github.com/barbeau/gpstest/blob/master/ACCURACY.md#geo-uri

>The edit popup only takes altitude in meters, no matter what distance unit
is set. Is this intended?

@abw8353 Yes, that's current intended but obviously not clear from the current UI. The above text change should clarify that as well. I have another issue open at https://github.com/barbeau/gpstest/issues/440 to support input of this value in feet.

>Coming up with a value to enter was still a bit of a problem

You can leave it blank if you don't want to analyze vertical error. This benchmarking is best done at surveyed points with known height above ellipsoid values - see https://barbeau.medium.com/measuring-gnss-accuracy-on-android-devices-6824492a1389 for details.

>For vertical error, I didn't get a clue as to directional bias. If
other use cases would have interest in actual error, perhaps you could put
a box below the map with a graph like the elevation graph on some tracking
displays. Not a priority for me, but I would enjoy it.

Yes, that's a good point. I remember debating whether or not to use absolute value of error when originally implementing this. I opened a new issue https://github.com/barbeau/gpstest/issues/548 to track this concept.


Your new hint text sounds good, and this feels like real progress.
